@mixin map_dimensions_tns() {
  -webkit-transition: height 0.35s ease-out, width 0.35s ease;
  -moz-transition: height 0.35s ease-out, width 0.35s ease;
  -o-transition: height 0.35s ease-out, width 0.35s ease;
  transition: height 0.35s ease-out, width 0.35s ease;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin appearance($property) {
  -webkit-appearance: $property;
  -moz-appearance: $property;
  appearance: $property;
}

$iPhone8: iPhone 8;
$iPhoneXR: iPhone XR;
$iPhoneXS: iPhone XS;
$iPhoneXSMax: iPhone XS Max;

@mixin apple-device-mq($model: null) {
  // iPhone XR
  @if $model == $iPhoneXR {
    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
      @content;
    }
  } @else if $model == $iPhone8 {
    // iPhone 8
    @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
      @content;
    }
  } @else if $model == $iPhoneXS {
    // iPhone XS
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      @content;
    }
  } @else if $model == $iPhoneXSMax {
    // iPhone XS Max
    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
      @content;
    }
  } @else {
    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
      @content;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      @content;
    }
    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
      @content;
    }
  }
}
